html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
  --primary-color: #0054d1;
  --secondary-color: #41b3a3;
  --tertiary-color: #8bc34a;
  --quaternary-color: #f5f5f5;
  --light-color: #ffffff;
  --dark-color: #333333;
}

body {
  background-color: var(--quaternary-color);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-link {
  color: var(--light-color);
  margin-left: 20px;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #ffbf3f;
}

.card {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--quaternary-color);
  color: var(--light-color);
  text-align: center;
}

.footer-text {
  font-size: 1.2rem;
}

a.btn.btn-primary.btn-sm {
  font-size: 1.0rem;
  padding: 0.7rem 0.5rem;
}